#transform-area{


    background-color: black;
    height: 100vh;
    perspective: 400px;


}


.quadrato{

   height: 150px;
   width: 150px;
   background-color: red;

}



#n1{

animation-name: animazion1;
animation-duration: 1.5s;
animation-iteration-count: 1;
margin-bottom: 20px;

}
#n1{

  background-color: blue;
  margin-bottom: 20px;
  
  }

@keyframes animazion1{



}


#n3{

 animation-name: animazione3 ;
 animation-duration: 3s;
 animation-iteration-count: 1;

}





@keyframes animazion3{

      0%{ transform:translate(0%,0%) rotateY(0deg); 
      background-color: red;
      }
      25%{ transform: translate(20%, 10%) rotateY(20deg) ;
      background-color: blue;  }
      50%{  transform: translate(30%, 30%) rotateY(50deg) ;
        background-color: blue;  }
      75%{  transform: translate(50%, 40%) rotateY(80deg) ;
        background-color: blue;}
      100%{ transform: translate(20%, 10%) rotateY(100deg) ;
        background-color: red;  }


}



