div{
  
    color: red;

}

#div-blue{

    color:blue

}

.testo-verde{

    color: green;
}


span{

    font-style: italic;
}

#area-grassetto span{

font-weight: bold;


}




#area-grassetto > div span{

  background-color: blue;

}


