@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@300&display=swap');
}



#divlogo{
  height: 3.5cm;
  width: 450px;
  background-color: black;
  text-align: center;
  
  padding-bottom: 50; 
  padding-left:  100;
  padding-right: 100;
 /* margin-top: 3cm;
  margin-bottom: 3cm;
  margin-left: 20cm;
  margin-right: 20cm;
*/

}


#imglogo{
    width: 167px;
    padding-top: 1cm;
}

#divpresentazione1{
    
    text-align: center;
    height: 10cm;
    background-image: url(/assets/images/banner.jpg);
    background-size: 120%;
    background-position-x: -2.3cm;
    background-repeat: no-repeat;
    width: 450px;
} 


#titolopresentazione1{

    /* dimensione e colore*/
    font-family: 'Montserrat';
    padding-top: 1cm;
    color:darkcyan;
    font-size: 28pt;
    width: 450px;
}

#titolopresentazione2{
    font-family: 'Montserrat';
    color:darkcyan;
    font-size: 28pt;
    width: 450px;   
}

#testo1{
    font-family: 'Montserrat';
    padding-top: 0.6cm;
    font-size: 18pt;
    padding-bottom: 0.8cm;    
    width: 450px;
}

button{
   
    
   height: 1.2cm;
   width: 4.2cm;
  /* padding-top: 1.5cm;*/
   background-color: rgb(178, 80, 34);
   border-radius: 10px;
   color: white;
   font-family: 'Montserrat';
   margin-bottom: 1.5cm;
}

#divpresentazione2{
    text-align: center;
    height: 25cm;
    background-color: white;
    width: 450px;
    
    
    
} 

#titoloA{
    
    /*margin-top: -2cm;*/
    font-family: "open sans";
    padding-top: 1.5cm;
    font-size: 18pt;
    padding-bottom: 0.5cm;
    color: darkcyan;
    text-align: center;
    width: 450px;
}



#divrosso{

    height: 10cm;
    background-color: rgb(165, 61, 42);
    width: 450px;
}


#titoloB{
    
   padding-top: 0.5cm;
   padding-bottom: 0.5cm;
   color: darkcyan;
   font-size: 18pt;
   text-align: center;
   width: 450px;
}
#titoloC{
    
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
    color: darkcyan;
    font-size: 18pt;
    text-align: center;
    width: 450px; 
}
 #titoloD{
    
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
    color: darkcyan;
    font-size: 18pt;
    text-align: center;
    width: 450px; 
}
  
#titoloE{
    
    padding-top: 2cm;
    padding-bottom: 0.5cm;
    color: white;
    font-size: 28pt;
    text-align: center;
    width: 450px; 
}
  
#frase{
    
    padding-top: 0.5cm;
    text-align: center;
    color: white;
    font-size: 18pt;
    width: 450px;
}


/* #foto-notebook*/



#fotonotebook{

    border-radius: 80%;
    margin-left:0.1cm;
    margin-right:0.1cm;
   
  

}



#divfooter{
    margin-top: 3cm;
    background-color: darkcyan;
    height: 12cm;
    width: 450px;
}

#sottolineato{
    text-decoration: underline;
    color: white;
    font-family: fa-regular-400;
}

#descrizione1{

    font-size: 18pt;
    text-align: center;
    
}
#descrizione2{

    font-size: 18pt;
    text-align: center;
    
}
#descrizione3{

    font-size: 18pt;
    text-align: center;
    
}
#descrizione4{

    font-size: 18pt;
    text-align: center;
    
}

#nome{
    
    padding-top: 0.5cm;
    font-size: 18pt;
    text-align: center;
    color: white;
}

#CEO{
    font-size: 18pt;
    text-align: center;
    color: white;
    
}

.card-title{
    padding-top: 1cm;
    font-size: 18pt;
    text-align: center;
    color: darkcyan;
}

.card-description{
    font-size: 18pt;
    text-align: center;
    
}

#foto1{
    margin-top: 2cm;
    margin-left: 2cm;
    margin-right: 2cm;
}


#foto2{
    margin-top: 2cm;
    margin-left: 2cm;
    margin-right: 2cm;
}

#foto3{
    margin-top: 2cm;
    margin-left: 2cm;
    margin-right: 2cm;
}



#titlefooter{

    
    font-size: 28pt;  
    color: white;
    text-align: center;
    padding-top: 1.5cm;
    padding-bottom: 0.5cm;
}

#pfooter1{
 /* font-family: fa-regular-400;*/
  text-align: center;
  font-size: 18pt;
}

#pfooter2{
  /*  font-family: fa-regular-400;*/
    text-align: center;
    color: white;
    font-size: 18pt;
    
}

#pfooter3{
  /*  font-family: fa-regular-400;*/
    text-align: center;
    color: white;
    font-size: 18pt;
}
#divhr{

    text-align: center;
    width: 10;
}
hr{
    border: 0.3px solid white;
   /* text-align: center; */
   width: 8cm;
}

a{
    color: white;
}

#pfooter4{
   /* font-family: fa-regular-400;*/
    text-align: center;
    color: white;
    font-size: 18pt;
}

